apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      volumes:
        - name: shared-data
          persistentVolumeClaim:
            claimName: shared-pvc
      containers:
        - name: ping-pong
          image: ping-pong:1.0
          imagePullPolicy: IfNotPresent
          env:
            - name: PORT
              value: "8081"
            - name: DATA_DIR
              value: "/data"
            - name: COUNT_FILE
              value: "/data/pingpong-count.txt"
          ports:
            - containerPort: 8081
          volumeMounts:
            - name: shared-data
              mountPath: /data
