apiVersion: v1
kind: Pod
metadata:
  name: postgres-client
  namespace: exercises
spec:
  containers:
    - name: client
      image: postgres:16
      command: ["sleep", "infinity"]
      env:
        - name: PGHOST
          value: "postgres"
        - name: PGPORT
          value: "5432"
        - name: PGDATABASE
          valueFrom:
            configMapKeyRef:
              name: postgres-config
              key: POSTGRES_DB
        - name: PGUSER
          valueFrom:
            configMapKeyRef:
              name: postgres-config
              key: POSTGRES_USER
        - name: PGPASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_PASSWORD
      resources:
        requests:
          cpu: "25m"
          memory: "32Mi"
        limits:
          cpu: "200m"
          memory: "256Mi"
