apiVersion: v1
kind: Service
metadata:
  name: ping-pong-svc
  namespace: exercises
  annotations:
    cloud.google.com/neg: '{"ingress": true}'
spec:
  selector:
    app: ping-pong
  ports:
    - name: http
      protocol: TCP
      port: 8081
      targetPort: 8081
  type: ClusterIP
