# deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
  namespace: project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      volumes:
        - name: shared-data
          persistentVolumeClaim:
            claimName: shared-pvc
      containers:
        - name: todo-app
          image: todo-app:1.0
          imagePullPolicy: IfNotPresent
          env:
            - name: PORT
              value: "9000"
            - name: DATA_DIR
              value: "/data"
            - name: IMAGE_TTL_MIN
              value: "10"
            - name: IMAGE_FETCH_DISABLED
              value: "true"
            - name: TODO_BACKEND_URL
              value: "http://todo-backend-svc:2345"
          volumeMounts:
            - name: shared-data
              mountPath: /data
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
