apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      volumes:
        - name: shared-data
          persistentVolumeClaim:
            claimName: shared-pvc
      containers:
        - name: log-output
          image: log-output:1.0
          imagePullPolicy: IfNotPresent
          env:
            - name: PORT
              value: "3000"
            - name: DATA_DIR
              value: "/data"
            - name: COUNT_FILE
              value: "/data/pingpong-count.txt"
            - name: IMAGE_FETCH_DISABLED
              value: "true"
          ports:
            - containerPort: 3000
          volumeMounts:
            - name: shared-data
              mountPath: /data
