apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output
  namespace: project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      containers:
        - name: log-output
          image: log-output:latest
          imagePullPolicy: Never
          envFrom:
            - configMapRef:
                name: log-output-config
          ports:
            - containerPort: 3000
          volumeMounts:
            - name: log-output-config-vol
              mountPath: /config
              readOnly: true
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
      volumes:
        - name: log-output-config-vol
          configMap:
            name: log-output-config
            items:
              - key: information.txt
                path: information.txt
